section.settingBody{
    margin-bottom:50px;
    .menuH2{
        margin-bottom:10px;
    }
}
.secline{
    font-size:0.8em;
    color:#aaa;
    margin:10px 0 0 0;
    a{
        display:inline-block;
        margin:0 3px;
        text-decoration:none;
        color:#4285f4;
        cursor: pointer;
        &:hover{
            text-decoration:underline;
        }
    }
}
.sec-main{
    margin-bottom:20px;
}
.semeswrap{
    padding:10px 0 0 0;
    .semesLabel{
        margin:0 50px 0 0;
    }
}
.settingWhir{
    height:100vh;
    width:100vw;
    background:white;
    .setting_h2{
        width:calc(100% - 40px);
        height:50px;
        padding:0px 20px;
        color:#aaa;
        font-size:1.2em;
        border-bottom:1px solid #f0f0f0;
        .backButtonBlock{
            margin-right:10px;
            height:37px;
            width:37px;
            border-radius:50%;
            cursor: pointer;
            color:#aaa;
            &:hover{
                background:#f8f8f8;
            }
        }
    }
}
.settingBodyWrap{
    width:calc(100% - 334px);
    height:calc(100vh - 40px);
    padding:20px 30px;
    h2{
        color:#aaa;
        font-size:1.1em;
    }
    .authorContainer{
        color:#aaa;
        margin-bottom:20px;
        font-size:0.9em;
    }
    .setting_CalCheckBox{
        margin:0 0 5px 0;
        .label{
            width:calc(100% - 28px);
            font-size:0.9em;
            margin:5px 0px 3px 0;
        }
        .point{
            width:16px;
            height:16px;
            border-radius:50%;
            margin:4px 8px 4px 0;
            div{
                width:calc(100% - 4px);
                height:calc(100% - 4px);
                border-radius:50%;
            }
        }
    }
}

.sidebarWrap{
    width:275px;
    height:calc(100vh - 40px);
    padding:20px 0;
    .menu{
        width:calc(100% - 40px);
        padding:10px 20px;
        cursor: pointer;
        border-radius:0 1000px 1000px 0;
        &:hover{
            background:#e0f8ff;
        }
    }
    .active{
        background:#00aced;
        color:white;
        border-radius:0 1000px 1000px 0;
        &:hover{
            background:#00aced;
        }
    }
}

.calpoint{
    display:inline-block;
    cursor: pointer;
    padding:5px 10px;
    margin:0 5px;
    &:hover{
        background:#f8f8f8;
        border-radius:5px;
    }
}


//アカウントの情報表示
.userAccountBox{
    border:1px solid #f0f0f0;
    width:330px;
    height:385px;
    box-shadow: 0 0 15px #ddd;
    .iconBox{
        width:100%;
        padding:22px 0;

        .icon{
            border:1px solid #f0f0f0;
            
            width:80px;
            height:80px;
            border-radius:50%;
            img{
                width:100%;
                height:100%;
                border-radius:50%;
                object-fit: cover;
                
            }
        }
    }
    .logoutB{
        width:100%;
        height:calc(100% - 318px);
        padding-bottom:20px;
        div{
            background:#e0f8ff;
            border-radius:1000px;
            padding:10px 50px;
            cursor: pointer;
            color:#aaa;
        }
    }
    .userProfBox{
        text-align:center;
        word-wrap: break-word;
        .name{
            font-size:1.1em;
        }
        .university,.key{
            font-size:0.8em;
            color:#aaa;
        }
        .drw-menu-rap{
            padding:30px 0 20px 0;
            .drw-menu{
                width:calc(calc(100% - 2px) / 3);
                padding:10px 0;
                text-align:center;
                .drw-he{
                    font-size:0.6em;
                    color:#aaa;
                }
                .drw-ens{
                    font-size:0.8em;
                    padding:5px 0 0px;
                }
            }
            .drw-line{
                border-right:1px solid #f0f0f0;
                
            }
        }
    }
}
h2.alp{
   margin-bottom:20px;
}


//サイドバー
.calListBox_open{
    border-bottom:1px solid #f0f0f0;
    animation-name:topTobottom1;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}
.calListBox_close{
    overflow:hidden;
    animation-name:bottomTotop;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}
@keyframes topTobottom1 {
    0% {
        max-height:0px;
    }
    100%{
        max-height:300px;
    }
}
@keyframes bottomTotop {
    0% {
        max-height:300px;
    }
    100%{
        max-height:0px;
    }
}

.sidebarCalendarBox{
    cursor:pointer;
    border-radius:0 10000px 10000px 0;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    &:hover{
        background:#f8f8f8;
    }
}
.settingDeleteBtn{
    padding:4px 8px;
    cursor:pointer;
}

//ライブラリー
.libraryMenu{
    border-bottom:1px solid #f0f0f0;
    padding:10px 0 5px;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    .tags div{
        cursor:pointer;
        padding:8px 15px;
        border-radius:10px;
        min-width:64px;
        margin:0 2px;
        &:hover{
            background:#f8f8f8;
        }
    }
    .active{
        background:#f8f8f8;
    }
    .search{
        width:30%;
        min-width:200px;
        input{
            font-size:1em;
            width:calc(100% - 20px);
            border:1px solid #f0f0f0;
            border-radius:10px;
            padding:8px 10px;
        }
    }
}
.calendarSearchResult{
    flex-wrap:wrap;
    padding-top:10px;
    .CalendarCard{
        width:calc(50% - 42px);
        min-width:450px;
        padding:10px;
        margin:0 10px 10px;
        border:1px solid #f0f0f0;
        border-radius:10px;
        .imageContainer{
            width:150px;
            height:150px;
            background:#f4f4f4;
            border-radius:5px;
            font-size:4em;
            line-height:150px;
            text-align:center;
        }
        .dataContainer{
            width:calc(100% - 160px);
            margin-left:10px;
            .nameBox{
                padding:2px 0;
                font-size:1.2em;
            }
            .descriptionBox{
                padding:10px 0;
            }
            .authorBox{
                font-size:0.9em;
                color:#aaa;
            }
            .data{
                font-size:0.9em;
                color:#aaa;
                div{
                    font-size:0.9em;
                    color:#aaa;
                    padding-right:5px;
                }
            }
            .buBo{
                padding:10px 0;
                div{
                    cursor:pointer;
                    padding:4px 8px;
                    font-size:0.8em;
                    border-radius:10px;
                    margin-right:10px;
                    border:1px solid #00aced;
                    color:#00aced;
                    -webkit-transition: background-color 200ms linear;
                    transition: background-color 200ms linear;
                    &:hover{
                        background:#f8f8f8;
                    }
                }
            }
        }
    }
}
