.xyWindow{
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:9999;
    cursor: pointer;
}
.xyWindowWrap{
    width:400px;
    position:absolute;
    background:white;
    z-index:99999;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 8px;
    padding:5px;
    border-radius:10px;
    z-index:99999;
}
.TaskListWindowWrap{
    width:200px;
    max-height:300px;
    position:absolute;
    background:white;
    z-index:99999;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 8px;
    padding:5px;
    border-radius:10px;
}
.xywindowTitleBox{
    padding:5px 10px;
    .windowDate{
        line-height:1.8em;
    }
    .windowIcons{
        .brandIcons{
            padding:0 10px 0 0;
            .twitter{
                margin:0 0 0 2px;
            }
            .line,.twitter{
                height:1.8em;
                width:1.8em;
                border-radius:50%;
                cursor: pointer;
                &:hover{
                    background:#f8f8f8;
                }
            }
        }
        .close,.plus{
            height:1.8em;
            width:1.8em;
            border-radius:50%;
            &:hover{
                background:#f8f8f8;
            }
        }
    }
}
.weekTaskBoxWrap{cursor: pointer;
    max-height:251px;
    width:100%;
}
.xyWindowInner{
    height:206px;
    margin:10px 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.xyWindowTaskInner{
    height:206px;
    margin:5px 0px;
    padding:0 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
    .mainCont{
        ol{
            padding:0 0 0 30px;
        }
        ul{
            padding:0 0 0 20px;
        }
    }
}
.windowTasktitle{
    margin:2px 0px;
    padding:0 10px;
    .labelBox{
        width:40px;
        font-size:0.8em;
        line-height:23px;
        margin:2px 7px 2px 0;
        color:white;
        padding:0 5px;
        border-radius:5px;
        text-align:center;
    }
    .title{
        width:calc(100% - 57px);
        font-size:1.1em;
        white-space: nowrap;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display:none;
        }
    }
}
.xyw{
    position:fixed;
}
.xyw_de{
    display:none;
    position:fixed;
}
.xyw-inner{
    position:absolute;
    animation-name:xyEffect;
    animation-duration:0.3s;
    transform: scale(1);
}
.xyw_de-inner{
    display:none;
}
//index
.xypageIndex{
    div{
        margin:0 2px;
        padding:3px 10px;
        cursor: pointer;
        &:hover{
            background:#e0f8ff;
            border-radius:5px;
        }
    }
    .aTindexactive{
        background:#e0f8ff;
        border-radius:5px;
    }
}

//exam
.examList{
    cursor: pointer;
    padding:0 5px 0 5px;
    &:hover .tlp{
        background:#f8f8f8;
        border-radius:5px;
    }
}
.elp{
    color:#aaa;
    font-size:0.9em;
    position: relative;
    font-weight:bold;
    padding:5px 0 5px calc(1.3em + 5px);
    &:before{
        position: absolute;
        top:50%;
        left:5px;
        -webkit-transform : translateY(-50%);
        transform : translateY(-50%);
        content:'';
        background:#EF454A;
        width:0.8em;
        height:0.8em;
        border-radius:50%;
    }
}
//task
.tlp{
    color:#aaa;
    font-size:0.9em;
    position: relative;
    font-weight:bold;
    padding:5px 0 5px calc(1.3em + 5px);
    &:before{
        position: absolute;
        top:50%;
        left:5px;
        -webkit-transform : translateY(-50%);
        transform : translateY(-50%);
        content:'';
        background:#00aced;
        width:0.8em;
        height:0.8em;
        border-radius:50%;
    }
}
.taskList{
    cursor: pointer;
    padding:0 5px 0 5px;
    &:hover .tlp,&:hover .elp{
        background:#f8f8f8;
        border-radius:5px;
    }
}
.xyTaskContant .completeBtn{
    display:inline-block;
    font-size:0.8em;
    border-radius:5px;
    padding:2px 10px;
    margin:0px 0 5px 10px;
    &:hover{
        background:#f8f8f8;
    }
}
.xyTaskContant .mainCont{
    padding:5px 10px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:5px;
    ol{
        padding:0 0 0 30px;
    }
    ul{
        padding:0 0 0 20px;
    }
}
.xyTaskEf{
    animation-name:xyEffect;
    animation-duration:0.3s;
    transform: scale(1);
}
.xyTaskEf_de{
    display:none;
}


//schedule
.scheduleList{
    padding:5px 0 5px 15px;
}
.sbu-window{
    font-size:0.8em;
    color:#aaa;
}

.sbu-window{
    font-size:0.8em;
    color:#aaa;
    s{
        color:#aaa;
    }
}
.sbu-window-c{
    margin-bottom:5px;
    font-size:0.8em;
    color:#aaa;
    s{
        color:#aaa;
    }
}
//授業変更のスタイル
.changeScheduleMark{
    background:#00aced;
    color:white;
    border-radius:5px;
    padding:0px 10px;
    font-size:0.8em;
    margin-left:10px;
    line-height:20px;
}

@keyframes xyEffect {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


