//ポップアップ
.popup{
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    
    .popup_wrap{
        height:100vh;
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    .userDetailwhir{
        position:absolute;
        z-index:11;
        top:0;
        width:872px;
        height:544px;
        background:white;
        margin:calc(50vh - 272px) auto;
        left:0;
        right:0;
        border-radius:10px;
        .userDetailBox{
            width:33%;
            padding:20px 0;
            border-right:1px solid #e8e8e8;
            .iconBox{
                width:100%;
                padding:10px 0 30px 0;
                .userIcon{
                    width:86px;
                    height:86px;
                    cursor: pointer;
                    background:#f8f8f8;
                    border-radius:50%;
                    img{
                        width:100%;
                        height:100%;
                        border-radius:50%;
                        object-fit: cover;
                        
                    }
                }
            }
            .userName{
                font-size:1.3em;
                font-weight:bold;
            }
            .userKey{
                padding:10px 0px;
                width:70%;
                color:#aaa;
                font-size:0.8em;
                overflow-x: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display:none;
                }
            }
            .nurtureSettingB{
                width:70%;
                height:40px;
                border:1px solid #e8e8e8;
                border-radius:5000px;
                margin:10px 0 20px 0;
                cursor: pointer;
                &:hover{
                    background:#f8f8f8;
                }
            }
            .nsB{
                border-bottom:1px solid #e8e8e8;
            }
            .menuBox{
                width:100%;
                height:calc(100% - 261px);
                padding:0 0 10px 0;
                border-radius:0 0 0 10px;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display:none;
                }
                .menu{
                    width:calc(100% - 19px);
                    padding:10px 10px;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover{
                        background:#e0f8ff;
                    }
                    .sPmenuIcon{
                        width:26px;
                        margin-right:10px;
                    }
                }
                .sContentBox{
                    padding:5px 20px;
                    p{
                        font-size:0.8em;
                    }
                    .nurtureGithubB{
                        width:100%;
                        height:30px;
                        border:1px solid #e8e8e8;
                        border-radius:5000px;
                        margin:10px 0;
                        font-size:0.8em;
                        cursor: pointer;
                        text-decoration: none;
                        &:hover{
                            background:#f8f8f8;
                        }
                    }
                }
            }
            
        }
        .newsBox{
            width:calc(67% - 1px);
            h2{
                width:100%;
                font-weight:bold;
                font-size:1.2em;
                padding:20px 0 0;
            }
        }
    }
    .pceWhir{
        position:absolute;
        z-index:11;
        top:0;
        width:572px;
        height:344px;
        background:white;
        margin:calc(50vh - 172px) auto;
        left:0;
        right:0;
        border-radius:10px;
    }
    .whir{
        position:absolute;
        z-index:11;
        top:0;
        width:672px;
        height:calc(100vh - 100px);
        background:white;
        margin:50px auto;
        left:0;
        right:0;
        border-radius:10px;
        
    }
    .pcePopup-item{
        width:calc(100% - 60px);
        padding:0px 30px;
        .t-index{
            display:inline-block;
            width:100px;
        }
        .pcePopup-input{
            width:calc(100% - 110px);
            font-size:1em;
            color:#494949;
        }
    }
    .add_scedule{
        padding:22px 30px 12px 30px;
        font-size:1.2em;
        color:#aaa;
        border-radius:20px 20px 0 0;
    }
}
.popup_effect{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.1s;
}
.popup_effect_de{
    opacity: 0;
    transition: opacity 0.3s, transform 0s 0.3s;
    transform: scale(0);

}

//ポップアップ内の要素
input.adSheduleInput{
    height:30px;
    width:calc(100% - 90px);
    font-size:1em;
    margin:0 30px 10px;
    border:1px solid #e8e8e8;
}
.searchBox{
    margin:0 30px 10px;
    .moreSearchIb{
        height: 26px;
        cursor: pointer;
        border: 1px solid rgb(170, 170, 170);
        border-radius:5px;
        padding: 0px 10px;
        margin:0 0 0 10px;
        font-size:0.9em;
        color: rgb(170, 170, 170);
    }
}
.crossSC{
    height:28px;
    width:28px;
    border-radius:50%;
    cursor: pointer;
    &:hover{
        background: #f8f8f8;
    }
}
.bgHyu{
    height:28px;
}


.scedulesBox{
    width:100%;
    height:calc(100vh - 391px);
    border-top:1px solid #e8e8e8;
    overflow:auto;
    -ms-overflow-style: none;
        scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.infBox{
    width:calc(100% - 60px);
    height:129px;
    border-top:1px solid #e8e8e8;
    padding:10px 30px;
    
    //登録スケージュールの表示部
    .fa-reges-elementBox{
        .fa-reges-h{
            font-size:0.9em;
            line-height:33px;
            width:100px;
        }
        .fa-reges-elementInner{
            width:calc(100% - 100px);
            overflow-x :scroll;
            -ms-overflow-style: none;
                scrollbar-width: none;
            &::-webkit-scrollbar {
                display:none;
            }
            .reges-schedule{
                flex: 0 0 auto;
                border:1px solid #e8e8e8;
                padding:5px 10px;
                border-radius:5px;
                margin-right:5px;
                font-size:0.9em;
                cursor: pointer;
            }
        }
    }
    //submitボタンのcss
    .submitBox{
        width:100%;
        height:96px;
        
        .fa-scedule-submit{
            cursor: pointer;
            margin:0 10px;
            padding:8px 16px;
        }
    }
}

.fa-schedule-enm{
    width:calc(100% - 60px);
    padding:10px 30px;
    cursor: pointer;
    //チェックボックス
    .checkBoxlap{
        margin-right:10px;
        .checkBox{
            width:15px;
            height:15px;
            padding:4px;
            border:1px solid #e8e8e8;
            border-radius:50%;
            .checkBoxInner{
                width:15px;
                height:15px;
                border-radius:50%;
            }
            .cBIactive{
                background: #e8e8e8;
            }
        }
    }
    //データ表示部
    .sceduleDataBox{
        width:calc(100% - 25px);
        .sceduleName{
            font-weight:bold;
            color:#4e5665;
        }
        .scheduleSubdata{
            font-size:0.8em;
            color:#aaa;
        }
    }
}
//マニュアル授業追加
.manual-schedule-h3{
    width:calc(100% - 60px);
    padding:10px 30px;
}
.manual-schedule-sleB{
    width:calc(100% - 60px);
    padding:10px 30px;
    margin:0 0 20px 0;
    .swal2-select{
        width:150px;
        margin:0 10px;
    }
}
//カウンター
.fa-Attendance-h3{
    margin:10px 0 0 30px ;
    color:#aaa;
}
.counter{
    padding:10px 0;
    margin:0 20px;
}
.fa-counter-lap{
    margin-top:5px;
}
.sns-shere{
    position: absolute;
    top:22px;
    right:22px;
    display:block;
    margin-left:30px;
    color:#00aced;
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}

//予定を追加のindex
.pageIndexBox{
    margin:0 0 0 25px;
    div{
        margin:0 2px;
        padding:3px 10px;
        cursor: pointer;
        &:hover{
            background:#e0f8ff;
            border-radius:5px;
        }
    }
    .aTindexactive{
        background:#e0f8ff;
        border-radius:5px;
    }
}
.adTaskbody{
    margin:10px 0 0 0;
}
//タスクのinput
input.task-input{
    height:30px;
    width:calc(100% - 32px);
    font-size:1em;
    margin:10px 0;
    border:1px solid #e8e8e8;
}
textarea.task-textarea{
    height:calc(100% - 350px);
    width:calc(100% - 64px);
    font-size:1em;
    margin:5px 32px 10px 32px;
}


div.cd {
    height:100px;
}
.fa-df-uo{
    position:absolute;
    bottom:0;
    left:0;
}


//ログインのポップアップ
.logwhir{
    position:absolute;
    z-index:11;
    top:0;
    width:312px;
    height:calc(100vh - 100px);
    padding:0 20px;
    max-height:645px;
    background:white;
    margin:50px auto;
    left:0;
    right:0;
    border-radius:10px;
    overflow:auto;
    -ms-overflow-style: none;
        scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.her-right{
    width:calc(100% - 20px);
    height:calc(70% - 20px);
    min-height:600px;
    padding:20px 10px;
    h2{
        width:100%;
        margin:20px 0;
        text-align:center;
        font-size:2em;
        img{
            width:50%;
            height:100%;
        }
    }
    .clx{
        line-height:1.4em;
        color:#999;
        text-align:center;
        margin-bottom:15px;
    }
    .cls{
        font-size:0.6em;
        color:#999;
        text-align:center;
        margin-bottom:15px;
    }
    .hrm{
        margin-bottom:15px;
    }
    .alg{
        font-size:0.8em;
        cursor: pointer;
        p{
            color:#3897f0;
            &:hover{
                text-decoration:underline;
                
            }
        }
    }
    .ghi {
        width: 100%;
        text-align: center;
    }
    button.googleAuth{
        position:relative;
        margin-bottom:15px;
        width:100%;
        .abcRioButtonLightBlue{
            width:100%!important;
        }
        span{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
        }
    }
    .linkBox-twitter{
        display: block;
        position:relative;
        border-radius: 5px;
        color: white;
        background:#00aced;
        border:1px solid #00aced;
        width: calc(100% - 40px);
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        text-align: center;
        svg{
            position:absolute;
            top:0;
            bottom:0;
            left:20px;
            margin:auto;
        }
    }
    .linkBox-line{
        display: block;
        position:relative;
        border-radius: 5px;
        color: white;
        background:#00B900;
        border:1px solid #00B900;
        width: calc(100% - 40px);
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        text-align: center;
        svg{
            position:absolute;
            top:0;
            bottom:0;
            left:20px;
            margin:auto;
        }
    }
    .new_user{
        padding:10px 0;
    }
}


//effect
//表示非表示
.toggle_effect{
    animation-name:leftToright01;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
    display:flex;
    transform: scale(1);
}
.toggle_effect_de{
    animation-name:leftTorightBack01;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
    transform: scale(0);
    display:none;
}
.popup_toggle_effect{
    animation-name:leftToright01;
    animation-duration:1s;
    animation-fill-mode: forwards;
    transform: scale(1);
}
.popup_toggle_effect_de{
    animation-name:leftTorightBack02;
    animation-duration:1s;
    animation-fill-mode: forwards;
    pointer-events: none;
    transform: scale(0);
}
@keyframes leftToright01 {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes leftTorightBack01 {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-10px);
    }
}
@keyframes leftTorightBack02 {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    50%{
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 0;
        transform: translateX(-10px);
        height:0;
    }
}

div.react-datepicker-popper{
    z-index:9999;
}

//タスク入力のcss
.task-textarea{
    position:relative;
    height:calc(100% - 345px);
    width:calc(100% - 64px);
    font-size:1em;
    margin:10px 32px 10px 32px;
    .RichTextEditor__root___2QXK-{
        height:100%;
        width:100%;
    }
}
.RichTextEditor__editor___1QqIU{
    height:calc(100% - 53px);
    .DraftEditor-root{
        height:100%;
        width:100%;
    }
    .public-DraftEditor-content{
        height:calc(100% - 18px);
        width:calc(100% - 18px);
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display:none;
        }
    }
}
.tlEDeleteButton{
    position:absolute;
    right:2px;
    bottom:2px;
    padding:4px 8px;
    border-radius:5px;
    z-index:99999;
    cursor: pointer;
    &:hover{
        background:#f8f8f8;
    }
}
