.fr-mix{
    align-items:stretch
}
.semestarCalenderBox{
    width:50%;
    .showMonth{
        width:50px;
        border-bottom:1px solid #f0f0f0;
        border-right:1px solid #f0f0f0;
    }
    .showdate{
        width:calc(100% - 50px);
        flex-wrap:wrap;
    }
    //semestar
    .semestar-month-dataBox{
        width:calc(calc(100% - 9px) / 7);
        height:70px;
        border-right:1px solid #f0f0f0;
        border-bottom:1px solid #f0f0f0;
    }
    .smdbColor-f{
        background:#f8f8f8;
    }
    .smdbColor-s{
    
    }
    .semestar-month-dateBody{
        width:100%;
        height:calc(100% - 30px);
        color:#aaa;
        font-size:0.8em;
    }
    .semestar-month-date{
        width:100%;
        height:20px;
        padding:5px 0;
        font-size:0.8em;
    }
}
