section.settingBody{
    margin-bottom:40px;
}
.secline{
    font-size:0.8em;
    color:#aaa;
    margin:10px 0 0 0;
    a{
        display:inline-block;
        margin:0 3px;
        text-decoration:none;
        color:#4285f4;
        cursor: pointer;
        &:hover{
            text-decoration:underline;
        }
    }
}
.sec-main{
    margin-bottom:20px;
}
.semeswrap{
    padding:10px 0 0 0;
    .semesLabel{
        margin:0 50px 0 0;
    }
}
.settingWhir{
    height:100vh;
    width:100vw;
    background:white;
    .setting_h2{
        width:calc(100% - 40px);
        height:50px;
        padding:0px 20px;
        color:#aaa;
        font-size:1.2em;
        border-bottom:1px solid #f0f0f0;
        .backButtonBlock{
            margin-right:10px;
            height:37px;
            width:37px;
            border-radius:50%;
            cursor: pointer;
            color:#aaa;
            &:hover{
                background:#f8f8f8;
            }
        }
    }
}
.bodyWrap{
    width:calc(100% - 334px);
    height:calc(100vh - 40px);
    padding:20px 30px;
    h2{
        color:#aaa;
        font-size:1.1em;
        margin-bottom:10px;
    }
}

.sidebarWrap{
    width:275px;
    height:calc(100vh - 40px);
    padding:20px 0;
    .menu{
        width:calc(100% - 40px);
        padding:10px 20px;
        cursor: pointer;
        border-radius:0 1000px 1000px 0;
        &:hover{
            background:#e0f8ff;
        }
    }
    .active{
        background:#00aced;
        color:white;
        border-radius:0 1000px 1000px 0;
        &:hover{
            background:#00aced;
        }
    }
}

.calpoint{
    display:inline-block;
    cursor: pointer;
    padding:5px 10px;
    margin:0 5px;
    &:hover{
        background:#f8f8f8;
        border-radius:5px;
    }
}


//アカウントの情報表示
.userAccountBox{
    border:1px solid #f0f0f0;
    width:330px;
    height:385px;
    box-shadow: 0 0 15px #ddd;
    .iconBox{
        width:100%;
        padding:22px 0;

        .icon{
            border:1px solid #f0f0f0;
            
            width:80px;
            height:80px;
            border-radius:50%;
            img{
                width:100%;
                height:100%;
                border-radius:50%;
                object-fit: cover;
                
            }
        }
    }
    .logoutB{
        width:100%;
        height:calc(100% - 318px);
        padding-bottom:20px;
        div{
            background:#e0f8ff;
            border-radius:1000px;
            padding:10px 50px;
            cursor: pointer;
            color:#aaa;
        }
    }
    .userProfBox{
        text-align:center;
        word-wrap: break-word;
        .name{
            font-size:1.1em;
        }
        .university,.key{
            font-size:0.8em;
            color:#aaa;
        }
        .drw-menu-rap{
            padding:30px 0 20px 0;
            .drw-menu{
                width:calc(calc(100% - 2px) / 3);
                padding:10px 0;
                text-align:center;
                .drw-he{
                    font-size:0.6em;
                    color:#aaa;
                }
                .drw-ens{
                    font-size:0.8em;
                    padding:5px 0 0px;
                }
            }
            .drw-line{
                border-right:1px solid #f0f0f0;
                
            }
        }
    }
}
h2.alp{
   margin-bottom:20px;
}
