.fa-sideContainer{
    width:237px;
    height:100%;
}
.buttonBox{
    display:flex;
    align-items: center;
    padding:0 0 0 20px;
    height:50px;
    div{
        display:inline-block;
        width:auto;
        background:#00aced;
        color:white;
        border-radius:500px;
        padding:5px 20px;
        cursor: pointer;
    }
}
//サイドバー曜日
.timetable{
    align-items:flex-start;
    width:calc(100% - 20px);
    height:calc(100% - 535px);
    padding:25px 0px 20px 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.weekdays-lap{
    margin-bottom:10px;
    .weekdays{
        width:calc(100% - 20px);
        margin:0 0 5px 20px;
        font-size:1.2em;
        
    }
}
.fa-schedule-side{
    width:calc(100% - 35px);
    margin:0 0 0 25px;
    cursor: pointer;
    border-radius:15px 0 0 15px;
    padding:5px 5px 5px 10px;
    
    &:hover{
        background:#e0f8ff;
    }
    .ss-headline{
        font-size:0.8em;
        color:#aaa;
    }
    .ss-title{
    }
    .cszt{
        font-size:0.8em;
        color:#aaa;
    }
}

.side-taskListWrap{
    padding:10px 0;
}

//サイドバーカレンダー
.sideCalendarContainer{
    width:calc(100% - 30px);
    height:390px;
    padding:10px 10px 0px 10px;
    .sideccl{
        width:100%;
        height:calc(100% - 24px);
        .calendarList{
            width:calc(100% - 20px);
            padding:0 10px;
            cursor:pointer;
            border-radius:10px;
            &:hover{
                background:#f8f8f8;
            }
            .name{
                width:calc(100% - 28px);
                font-size:0.9em;
                margin:11px 0px 9px 0;
            }
            .point{
                width:16px;
                height:16px;
                border-radius:50%;
                margin:10px 8px 10px 0;
                div{
                    width:calc(100% - 4px);
                    height:calc(100% - 4px);
                    border-radius:50%;
                }
            }
        }
    }
}

//サイドバーヘルプ
.sideHelpContainer{
    position:absolute;
    bottom:0;
    width:calc(100% - 20px);
    height:40px;
    padding:0px 10px;
    border-top:1px solid #f0f0f0;
    a{
        display:inline-block;
        line-height:40px;
        font-size:0.8em;
        color:#aaa;
        cursor:pointer;
        margin-right:5px;
    }
}