.fa-sideContainer{
    width:237px;
    height:100%;
}
.buttonBox{
    display:flex;
    align-items: center;
    padding:0 0 0 20px;
    height:50px;
    div{
        display:inline-block;
        width:auto;
        background:#00aced;
        color:white;
        border-radius:500px;
        padding:5px 20px;
        cursor: pointer;
    }
}
//サイドバー曜日
.timetable{
    align-items:flex-start;
    width:calc(100% - 20px);
    height:calc(100% - 95px);
    padding:25px 0px 20px 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.weekdays-lap{
    margin-bottom:10px;
    .weekdays{
        width:calc(100% - 20px);
        margin:0 0 5px 20px;
        font-size:1.2em;
        
    }
}
.fa-schedule-side{
    width:calc(100% - 35px);
    margin:0 0 0 25px;
    cursor: pointer;
    border-radius:15px 0 0 15px;
    padding:5px 5px 5px 10px;
    
    &:hover{
        background:#e0f8ff;
    }
    .ss-headline{
        font-size:0.8em;
        color:#aaa;
    }
    .ss-title{
    }
    .cszt{
        font-size:0.8em;
        color:#aaa;
    }
}

.side-taskListWrap{
    padding:10px 0;
}