
.fa-rap{
    width:100%;
    height:calc(100vh - 63px);
}
.fa-mainContainer{
    width:calc(100% - 263px);
    height:100%;
}
.fa-dateContainer{
    width:100%;
    height:49px;
    .bord-month{
        font-size:1.2em;
        font-weight:bold;
        margin-left:55px;
    }
    div.no-pad{
        margin:0 0 0 10px;
    }
    .bord-today{
        padding:5px;
        font-size:1em;
        cursor: pointer;
        &:hover{
            background:#f8f8f8;
            border-radius:5px;
        }
    }
}
.fa-endline{
    border-bottom:1px solid #f0f0f0;
}
.fa-timeline{
    width:50px;
}
.fa-scedule{
    align-items:flex-start;
    width:100%;
    height:calc(100% - 98px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.fa-scedule-in{
    align-items:flex-start;
    width:100%;
    height:100%;
}
.fa-sceduleLine{
    width:calc(100% / 7);
    border-left:1px solid #f0f0f0;
    
}


//月表示の曜日部分
.fa-sceduleLine-month{
    width:calc(100% / 7);
    border-left:1px solid #f0f0f0;
    
}
//学期表示の曜日部分
.fa-sceduleLine-semester{
    width:calc(calc(calc(100% - 100px) / 14));
    
}
div.of-mon{
    margin-left:50px;
}
//日付表示部分
div.fa-dateline{
    border:none;
    height:100%;
}
//時間休み時間部分
.fa-BT-time{
    position:relative;
    height:10px;
    width:100%;
    margin-bottom:10px;
    .fab-time{
        position:absolute;
        bottom:calc(-0.8em - 10px);
        right:5px;
        font-size:0.8em;
        color:#aaa;
    }
}

//時間授業時間部分
.fa-class-time{
    position:relative;
    width:100%;
    height:125px;
    margin-bottom:10px;
    .fab-time{
        position:absolute;
        bottom:-10px;
        right:5px;
        font-size:0.8em;
        color:#aaa;
    }
}
//スケジュール休み時間部分
.fa-BT-scedule{
    height:10px;
    width:100%;
    margin-bottom:10px;
}
//スケジュール授業時間部分
.fa-class-sceduleContainer{
    width:100%;
    height:125px;
    margin-bottom:10px;
}
.fa-class-scedule{
    height:105px;
    width:calc(90% - 20px);
    background:#f8f8f8;
    border-radius:10px;
    padding:10px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    &:hover{
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .classroom,.status{
        font-size:0.8em;
        color: #aaa;
    }
}


//アイコン
.faIcon-arrow{
    padding:7px;
    margin:0 5px;
    height:15px;
    width:15px;
    cursor: pointer;
    &:hover{
        background:#f8f8f8;
        border-radius:50%;
    }
}

