
.fa-rap{
    width:100%;
    height:calc(100vh - 63px);
}
.fa-mainContainer{
    width:calc(100% - 263px);
    height:100%;
}
.fa-dateContainer{
    width:100%;
    height:49px;
    .bord-month{
        font-size:1.2em;
        font-weight:bold;
        margin-left:55px;
    }
    div.no-pad{
        margin:0 0 0 10px;
    }
    .bord-today{
        padding:5px;
        font-size:1em;
        cursor: pointer;
        &:hover{
            background:#f8f8f8;
            border-radius:5px;
        }
    }
}
.fa-endline{
    border-bottom:1px solid #f0f0f0;
}
.fa-timeline{
    width:50px;
}
.fa-scedule{
    align-items:flex-start;
    width:100%;
    height:calc(100% - 98px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.fa-scedule-in{
    align-items:flex-start;
    width:100%;
    height:100%;
}
.fa-sceduleLine{
    width:calc(100% / 7);
    border-left:1px solid #f0f0f0;
    
}


//月表示の曜日部分
.fa-sceduleLine-month{
    width:calc(100% / 7);
    border-left:1px solid #f0f0f0;
    
}
//学期表示の曜日部分
.fa-sceduleLine-semester{
    width:calc(calc(calc(100% - 100px) / 14));
    
}
div.of-mon{
    margin-left:50px;
}
//日付表示部分
div.fa-dateline{
    border:none;
    height:100%;
}
.fa-date-active div{
    border-radius:100px;
    background:#00aced;
    color:white;
    padding:0 15px;
}
//時間休み時間部分
.fa-BT-time{
    position:relative;
    height:10px;
    width:100%;
    margin-bottom:10px;
    .fab-time{
        position:absolute;
        bottom:calc(-0.8em - 10px);
        right:5px;
        font-size:0.8em;
        color:#aaa;
    }
}

//時間授業時間部分
.fa-class-time{
    position:relative;
    width:100%;
    height:125px;
    margin-bottom:10px;
    .fab-time{
        position:absolute;
        bottom:-10px;
        right:5px;
        font-size:0.8em;
        color:#aaa;
    }
}
//スケジュール休み時間部分
.fa-BT-scedule{
    height:10px;
    width:100%;
    margin-bottom:10px;
}
//スケジュール授業時間部分
.fa-class-sceduleContainer{
    width:100%;
    height:100%;
    padding:5px 0;
    border-bottom:1px solid #f0f0f0;
}
.fa-class-scedule{
    height:125px;
    width:100%;
    cursor: pointer;
    padding:5px 0;
    .classroom,.status{
        font-size:0.8em;
        color: #aaa;
    }
}


//アイコン
.faIcon-arrow{
    padding:7px;
    margin:0 5px;
    height:15px;
    width:15px;
    cursor: pointer;
    &:hover{
        background:#f8f8f8;
        border-radius:50%;
    }
}
//週表示schedule部分
.weekScheduleBox{
    width:calc(100% - 20px);
    padding:0px 10px 5px 10px;
    border-bottom:1px dashed #f0f0f0;
    margin-bottom:6px;
}
//週表示task等メイン部分
.weekTaskBox,.weekExamBox,.weekMoreBox{
    width:calc(100% - 30px);
    padding:2px 10px 2px 10px;
    margin-right:10px;
    margin-bottom:2px;
    font-size:0.8em;
    border-radius:5px;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
}
.weekTaskBox{
    background:#00aced;
    color:white;
    &:hover{
        text-decoration:underline;
    }
}
.weekExamBox{
    background:#EF454A;
    color:white;
    &:hover{
        text-decoration:underline;
    }
}
.weekMoreBox{
    &:hover{
        background:#f0f0f0;
    }
}
